<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PF_Pach_OS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PF_Pach_OS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estructuracion.css" asp-append-version="true" />
</head>
<body>
        <nav>
            <div class="encabezado-menu">
                <label>Pach_OS</label>
            </div>

            <div class="lista-Modulos">
                <a class="nav-link links-modulos" asp-area="" asp-controller="#" asp-action="Index">Informe</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Insumos" asp-action="Index">Insumos</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
            </div>

            <div class="contenedor-configuracion">
                <a class="nav-link btn-configuracion text-light" asp-action="">Configuracion</a>
            </div>
        </nav>
        <section>
            <header class="d-flex justify-content-between">
                <label>@ViewBag.accion MODULO</label>
            <label class="">@ViewBag.accion Usuario</label>
            </header>

        <form asp-action="Create" method="post">

            <button type="submit" class="btn-crear-registros"
            @if (ViewBag.mostrarModal == 0)
            {
                <text>data-bs-toggle="modal" data-bs-target="#staticBackdrop"</text>
            }
            else
            {
                String accion = ViewBag.accion;
                String controlador = @ViewBag.controlador;
                <text>onclick="window.location.href='@Url.Action($"{accion}", $"{controlador}")'"</text>
            }
            asp-action="@ViewBag.accion">@ViewBag.nombre
        </button>
        </form>

            <article class="modulos">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </article>
        </section>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
