<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PF_Pach_OS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PF_Pach_OS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estructuracion.css" asp-append-version="true" />
</head>
<body>
        <nav>
            <div class="encabezado-menu">
                <label>Pach_OS</label>
            </div>

            <div class="lista-Modulos">
                <a class="nav-link links-modulos" asp-area="" asp-controller="#" asp-action="Index">Informe</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Insumos" asp-action="Index">Insumos</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a>
                <a class="nav-link links-modulos" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
            </div>

            <div class="contenedor-configuracion">
                <a class="nav-link btn-configuracion text-light" asp-action="">Configuracion</a>
            </div>
        </nav>
        <section>
            <header class="d-flex justify-content-between">
                <label>@ViewBag.accion MODULO</label>
            <label class="">@ViewBag.accion Usuario</label>
            </header>

        <button class="btn-crear-registros" asp-action="@ViewBag.accion"> @ViewBag.nombre Crear Venta</button>

            <article class="modulos">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </article>
        </section>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
