@model Tuple<DetallesCompra, Compra, Insumo>;
<link href="~/css/compras.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

@*-----FORMATEO DE PRECIO-----*@
@{
    var total = 0;
    foreach (var detalle in ViewBag.Detalles)
    {
        total += detalle.Total;
    }
    string amountString = total.ToString();
    char[] digits = amountString.ToCharArray();
    Array.Reverse(digits);
    Console.WriteLine(digits);

    List<char> currencyArray = new List<char>();
    for (int i = 0; i < digits.Length; i++)
    {
        currencyArray.Add(digits[i]);

        if (currencyArray.Count == 7 && digits.Length > 6)
        {
            currencyArray.Insert(7, '.');
        }
        else if (currencyArray.Count == 3)
        {
            currencyArray.Insert(3, '.');
        }
    }
    currencyArray.Reverse();
    var totalString = new string(currencyArray.ToArray());
}

<div class="grid row g-4 column-2 py-2">
    @*------------------------------------------------------------------------FORMULARIO DE COMPRAS----------------------------------------------------------------------*@
    <div class="col-4 p-2 bg-white rounded border px-4 py-4 ">
        @*-----INICIO DEL FORMULARIO-----*@
        <form class="detail-container" asp-action="ComfirmarCompra" method="post">
            <input type="hidden" asp-for="Item2.IdCompra" value="@ViewBag.IdCompra" />
            <div>
                <div class="w-100 d-flex flex-column mb-3 align-items-center ">
                    <p class="w-100 h4 mb-3 text-center"><strong>PACH_OS</strong></p>
                </div>
                @*-----SELECCIONAR EMPLEADO-----*@
                <div class="">
                    <p class="mb-0"><strong>Empleado</strong></p>
                    <select class="form-control form-select" asp-for="Item2.IdEmpleado" asp-items="@(new SelectList(ViewBag.Empleados, "IdEmpleado", "Nombre"))" required>
                    </select>
                </div>
                <hr />
                @*-----SELECCIONAR PROVEEDOR-----*@
                <div class="">
                    <p class="mb-0"><strong>Proveedor</strong></p>
                    <select class="form-control form-select" asp-for="Item2.IdProveedor" asp-items="@(new SelectList(ViewBag.Proveedores, "IdProveedor", "NomLocal"))" required>
                    </select>
                </div>
                <hr />
                @*-----TOTAL GRANDE DE LA FACRUTA-----*@
                <input type="hidden" asp-for="Item2.Total" value="@total" />
            </div>
            <div class="d-flex flex-column align-items-center justify-content-between ">
                <p class="mb-0 display-4"><strong>$@totalString</strong></p>
                <p class="mb-0">Total</p>
            </div>
            <hr />
            <div class="w-100 d-flex flex-column mt-auto">
                @*-----BOTON DE CANCELAR COMPRA-----*@
                <a class="btn btn-light border mb-2" asp-controller="Compras" asp-action="Delete" asp-route-id="@ViewBag.IdCompra">Cancelar compra</a>
                @*-----BOTON DE REALIZAR COMPRA-----*@
                <button class="btn btn-primary botones-agregar" type="submit">Realizar compra</button>
            </div>
        </form>
    </div>

    @*----------------------------------------------------------------------FORMULARIO DE DETALLE COMPRAS----------------------------------------------------------------------*@
    <div class="col-7">
        @*-----INICIO DEL FORMULARIO-----*@
        <form id="formAgregar" class="row g-2 needs-validation" asp-action="Create" method="post" novalidate>
            @*-----SELECCIONAR EL INSUMO-----*@
            <div class="col-4">
                <label>Insumo</label>
                <select class="form-control form-select" asp-for="Item1.IdInsumo" aria-label="Default select example" asp-items="@(new SelectList(ViewBag.Insumos, "IdInsumo", "NomInsumo"))" required>
                    <option value="" selected>Elige una opción</option>
                </select>
                <div class="invalid-feedback">
                    Por favor seleccione un insumo.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
            </div>
            @*-----SELECCIONAR UNIDAD DE MEDIDA-----*@
            <div class="col-4">
                <label>Medida</label>
                <select type="text" asp-for="Item1.Medida" placeholder="Medida de la cantidad" class="form-control" required>
                    <option value="" selected>Elige una opción</option>
                    <option value="Unidad">Unidad</option>
                    <option value="Gramos">Gramos</option>
                    <option value="Onza">Onza</option>
                    <option value="Kilogramos">Kilogramos</option>
                    <option value="Libras">Libras</option>
                    <option value="Litros">Litros</option>
                    
                </select>
                <div class="invalid-feedback">
                    Seleccione una unidad de medida.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
            </div>
            @*-----INGRESAR CANTIDAD-----*@
            <div class="col-4">
                <label>Cantidad</label>
                <input type="number" asp-for="Item1.Cantidad" placeholder="Cantidad de insumo" class="form-control" required/>
                <div class="invalid-feedback">
                    Por favor ingrese una cantidad.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
            </div>
            @*-----INGRESAR PRECIO-----*@
            <div class="col-4">
                <label>Precio</label>
                <input type="number" asp-for="Item1.PrecioInsumo" placeholder="Precio de insumo" class="form-control" required />
                <div class="invalid-feedback">
                    Por favor ingrese una el precio.
                </div>
                <div class="valid-feedback">
                    ¡Todo bien!
                </div>
            </div>
            
            <input type="hidden" asp-for="Item1.IdCompra" value="@ViewBag.IdCompra" />
            @*-----BOTON PARA AGREGAR UN INSUMO AL DETALLE DE LA COMPRA-----*@
            <div class="col-4 d-flex align-items-end justify-content-center">
                <button class="btn btn-primary botones-agregar" type="submit">
                    Agregar insumo
                </button>
            </div>
            @*-----BOTON PARA CREAR UN INSUMO DESDE DETALLE DE COMPRA-----*@
            <div class="col-4 d-flex align-items-end justify-content-center">
                <button type="button" class="btn btn-primary botones-agregar" data-toggle="modal" data-target="#createModal">Crear insumo</button>
            </div>
        </form>
        @*-----CABECERA DE LA TABLA QUE MUESTRA LA INFORMACION DE LOS INSUMOS QUE SE ESTAN COMPRANDO-----*@
        <div class="mt-3 border rounded bg-white">
            <table class="table table-borderless mb-0">
                <thead>
                    <tr class="text-gray bg-gray-300">
                        <th>Insumo</th>
                        <th>Cantidad</th>
                        <th>Medida</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                @*-----INFORMACION DE LOS INSUMOS-----*@
                <tbody>
                    @foreach (var detalle in ViewBag.Detalles)
                    {
                        <tr>
                            <td>@detalle.NomInsumo</td>
                            <td>@detalle.Cantidad</td>
                            <td>@detalle.Medida</td>
                            <td>@detalle.PrecioInsumo</td>
                            <td class="d-flex align-items-center">
                                <a href="@Url.Action("Delete", "DetalleCompra", new { id = detalle.IdDetallesCompra, otroId = detalle.IdCompra, cantidad = detalle.Cantidad, idinsumo = detalle.IdInsumo, medida = detalle.Medida})" class="btn btn-outline-danger py-1 px-2">
                                    Eliminar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
</div>

<div id="createModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear nuevo insumo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createForm" class="needs-validation" asp-controller="DetalleCompra" asp-action="CrearInsumo" method="post" novalidate>
                    <input type="hidden" asp-for="Item1.IdCompra" value="@ViewBag.IdCompra" />
                    <div class="form-group">
                        <label for="NomInsumo">Nombre del Insumo</label>
                        <input type="text" class="form-control" id="NomInsumo" name="NomInsumo" required>
                        <div id="nombreFeedback" class="invalid-feedback">
                            Por favor llene el campo.
                        </div>
                        <div class="valid-feedback">
                            ¡Todo bien!
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CantInsumo">Cantidad</label>
                        <input type="number" class="form-control" id="CantInsumo" name="CantInsumo" required>
                        <div class="invalid-feedback">
                            Por favor llene el campo.
                        </div>
                        <div class="valid-feedback">
                            ¡Todo bien!
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Medida">Medida</label>
                        <select class="form-control" id="Medida" name="Medida" required>
                            <option value="" selected>Elige una opción</option>
                            <option value="gramo">Gramo</option>
                            <option value="mililitro">Mililitro</option>
                            <option value="onza">Onza</option>
                            <option value="unidad">Unidad</option>
                        </select>
                        <div class="invalid-feedback">
                            Seleccione una unidad de medida.
                        </div>
                        <div class="valid-feedback">
                            ¡Todo bien!
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary botones-agregar">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*----------------------------------------------------------------------VALIDACION DE CAMPOS EN TIEMPO REAL----------------------------------------------------------------------*@
<script>
    $(document).ready(function () {
        // Manejar el evento de cambio en el campo de PrecioInsumo
        $('#Item1_PrecioInsumo').on('input', function () {
            validatePrecioInsumo();
        });

        // Manejar el evento de cambio en el campo de Cantidad
        $('#Item1_Cantidad').on('input', function () {
            validateCantidad();
        });

        // Manejar el evento de cambio en el campo de NomInsumo
        $('#NomInsumo').on('input', function () {
            validateNomInsumo();
        });

        // Manejar el evento de cambio en el campo de Cantidad del insumo a crear
        $('#CantInsumo').on('input', function () {
            validateCantidadInsumo();
        });

        function validatePrecioInsumo() {
            var precioInsumo = $('#Item1_PrecioInsumo').val();
            if (precioInsumo === '' || isNaN(precioInsumo)) {
                $('#Item1_PrecioInsumo').removeClass('is-valid');
                $('#Item1_PrecioInsumo').addClass('is-invalid');
            } else {
                $('#Item1_PrecioInsumo').removeClass('is-invalid');
                $('#Item1_PrecioInsumo').addClass('is-valid');
            }
        }

        function validateCantidad() {
            var cantidad = $('#Item1_Cantidad').val();
            if (cantidad === '' || isNaN(cantidad)) {
                $('#Item1_Cantidad').removeClass('is-valid');
                $('#Item1_Cantidad').addClass('is-invalid');
            } else {
                $('#Item1_Cantidad').removeClass('is-invalid');
                $('#Item1_Cantidad').addClass('is-valid');
            }
        }

        function validateNomInsumo() {
            var NomInsumo = $('#NomInsumo').val();
            var nombreFeedback = $('#nombreFeedback');

            if (NomInsumo === '') {
                $('#NomInsumo').removeClass('is-valid');
                $('#NomInsumo').addClass('is-invalid');
                nombreFeedback.text('Por favor ingrese el nombre del insumo.');
            } else if (!isNaN(NomInsumo)) {
                $('#NomInsumo').removeClass('is-valid');
                $('#NomInsumo').addClass('is-invalid');
                nombreFeedback.text('No se pueden ingresar números.');
            } else {
                $('#NomInsumo').removeClass('is-invalid');
                $('#NomInsumo').addClass('is-valid');
                nombreFeedback.text('¡Todo bien!');
            }
        }


        function validateCantidadInsumo() {
            var cantidad = $('#CantInsumo').val();
            if (cantidad === '' || isNaN(cantidad)) {
                $('#CantInsumo').removeClass('is-valid');
                $('#CantInsumo').addClass('is-invalid');
            } else {
                $('#CantInsumo').removeClass('is-invalid');
                $('#CantInsumo').addClass('is-valid');
            }
        }

        // Manejar el evento de submit del formulario
        $('#createModal form').on('submit', function (event) {
            validateNomInsumo();
            validateCantidadInsumo();

            if ($('#NomInsumo').hasClass('is-invalid') || $('#CantInsumo').hasClass('is-invalid')) {
                event.preventDefault(); // Evitar el envío del formulario si hay errores
                event.stopPropagation(); // Detener la propagación del evento
                $('#NomInsumo').removeClass('is-valid');

            }

            $(this).addClass('was-validated'); // Agregar la clase para mostrar los estilos de validación
        });

    });
</script>

@*----------------------------------------------------------------------VALIDACION DE LOS CAMPOS CUANDO SE LE DA AL BOTON DE AGREGAR----------------------------------------------------------------------*@
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>