@model PF_Pach_OS.Models.Compra;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
}

<h1>Index</h1>


<div class="mt-4 border rounded bg-white">
    <table class="table mb-0 table-bordered table-striped">
        <thead>
            <tr>
                <td>Proveedor</td>
                <td>Fecha</td>
                <td>Empleado</td>
                <td>Total</td>
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var compra in ViewBag.Compras)
            {
                <tr>
                    <td>@compra.NomLocal</td>
                    <td>@compra.FechaCompra</td>
                    <td>@compra.Nombre</td>
                    <td>@compra.Total</td>
                    <td>
                        <a asp-controller="DetalleCompra" asp-action="Details" asp-route-id="@compra.IdCompra" class="btn border rounded">
                           Detalle
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>